<!DOCTYPE html>
<html lang="pt-br">
  <head>

  </head>
  <body>
     <form action="curriculo.php" method="POST">
        <h1>Currículo</h1>
        <h4>Dados Pessoais</h4>
        <p>Nome:<input type="text" name="nome" required></p></br>
        <p>Telefone:<input type="text" name="fone" required></p></br>
        <p>Email:<input type="email" name="email" required></p></br>
        <p>Endereço:<input type="text" name=" endereco "required></p></br>
        <hr>
        <h4>Escolaridade</h4>
        Ensino Fundamental Completo<input type="checkbox" name="efc" required></br>
        Ensino Medio Completo<input type="checkbox" name="emc" required></br>
        Ensino Superior Completo<input type="checkbox" name= "esc" required></br>
        Pos-Graduação Completo<input type="checkbox" name="pgc" required></br>
        Mestrado Completo<input type="checkbox" name="m'c"required></br>
        <hr>
        <h4>Experiencia Profissional<h4>
        <p>Empresa:<input type="text" name="empresa" required></p></br>
        <p>Data de Admissão:<input type="date" name="data_admissao" required></p></br>
        <p>Data de Demissão:<input type="date" name=" data_demissao" required></p></br>
        <p>Atividade Exercida:<input type="text" name="atividade_exercida" required></p></br>
        <hr>
        <h4>Cursos e Idiomas</h4>
        <p>Descrição:<input type="text" name="descrição"required></p></br>
        <p>Horas:<input type="text" name="horas" required></p></br>
        <p>Ano de Conclusão:<input type="date" name="ano_conclusao" required></p></br>
        <hr>
        <h4>Informações Adicionais</h4>
        <p>Informações Adicionais:<input type="text" name="informacoes" required></p></br>
        <input type="submit" value="Cadastrar">
     </form>
</body>
</html>
